<nav class="bg-gradient-to-r from-indigo-800 via-blue-800 to-purple-800 text-white p-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a routerLink="/" class="text-4xl font-poppins font-bold">AXIS BOARD</a>
      </div>
    </div>
  </div>
</nav>


<!-- Kanban Board Section -->
<!-- <div class="w-full">
  <p class="bg-gradient-to-r from-blue-700 via-purple-700 to-purple-800 opacity-40 text-center py-2 text-white">Board name</p>
</div> -->

<!-- Kanban Columns -->
<div class="flex flex-wrap justify-between py-10 gap-6 px-0">
  <div class="kanban flex flex-col items-center bg-blue-700 h-[600px] w-full sm:w-[48%] md:w-[23%] lg:w-[23%] xl:w-[23%] opacity-75">
    <h2 class="font-bold text-2xl text-white">BACKLOG</h2>
    <button (click)="handleClick()" class="bg-white h-[50px] w-[150px] mt-4 shadow-lg rounded-lg flex justify-center items-center">Add a new <span class="text-xl ml-2 flex justify-center items-center">+</span></button>

    <div class="h-[50px] w-[300px] bg-white mt-5 rounded-lg flex justify-center items-center shadow-lg">Finish assignment</div>
    <div class="h-[50px] w-[300px] bg-white mt-5 rounded-lg flex justify-center items-center shadow-lg">Learn Firebase</div>
    <div class="h-[50px] w-[300px] bg-white mt-5 rounded-lg flex justify-center items-center shadow-lg">Cook food</div>

    <div *ngFor="let div of divs; let i = index" class="h-[50px] w-[100px] bg-white mt-5 rounded-lg flex justify-center  items-center shadow-lg">
      <p>Div {{ i + 1 }}: {{ div }}</p>
    </div>
    
  </div>
  
  <div class="kanban flex flex-col items-center bg-blue-700 h-[600px] w-full sm:w-[48%] md:w-[23%] lg:w-[23%] xl:w-[23%] opacity-75">
    <h2 class="font-bold text-2xl text-white">DOING</h2>

    
  </div>


  <div class="kanban flex flex-col items-center bg-blue-700 h-[600px] w-full sm:w-[48%] md:w-[23%] lg:w-[23%] xl:w-[23%] opacity-75">
    <h2 class="font-bold text-2xl text-white">REVIEW</h2>
 
  </div>


  <div class="kanban flex flex-col items-center bg-blue-700 h-[600px] w-full sm:w-[48%] md:w-[23%] lg:w-[23%] xl:w-[23%] opacity-75">
    <h2 class="font-bold text-2xl text-white">DONE</h2>
 
    
  </div>
