<div class="bg-gradient-to-r from-slate-800 via-black to-black opacity-90 p-10 h-screen w-full ">
    <div class="flex justify-center font-bold text-5xl py-5 text-white">AXIS BOARD</div>

    <div class="flex justify-evenly items-center">

    <!-- BACKLOG -->
     <div class="w-[400px] h-[400px] bg-neutral-200 rounded-lg">
        <div class="flex justify-center py-2 bg-rose-400 rounded-t-lg">BACKLOG</div>

        <div class="bg-white m-5 p-5">
            I have to finish work
        </div>
        <div class="bg-white m-5 p-5">
            I have to finish work
        </div>
        <div class="bg-white m-5 p-5">
            I have to finish work
        </div>
        <div class="bg-white m-5 p-5">
            I have to finish work
        </div>
        
     </div>
    
     <!-- DOING-->
     <div class="w-[400px] h-[400px] bg-neutral-200 rounded-lg">
        <div class="flex justify-center py-2 bg-amber-400 rounded-t-lg">DOING</div>
     </div>
    
     <!-- REVIEW -->
     <div class="w-[400px] h-[400px] bg-neutral-200 rounded-lg">
        <div class="flex justify-center py-2 bg-lime-400 rounded-t-lg">REVIEW</div>
     </div>

     <div class="w-[400px] h-[400px] bg-neutral-200 rounded-lg">
        <div class="flex justify-center py-2 bg-blue-400 rounded-t-lg">DONE</div>
     </div>
    </div>
    
</div>

